* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    color:#f1f1f1 ;
}
.head {
    position: relative;
    height: 74px;
    background-color: #17232b;
}
.right {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
}
.right ul {
    list-style-type: none;
    position: absolute;
    right: 0;
}
.right ul li {
    display: inline-block;
    border-radius: 50px;
    margin: 22px 10px;
    height: 35px;
}
.right ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #D3CFC9;
    padding: 5px 20px;
    font-size: 20px;
    font-family: sans-serif;
}
.li1 {
    background-color: #191A1A;
}
.li1:hover {
    background-color: #484E52;
}
.li2 {
    background-color: #59010B;
}
.li2:hover {
    background-color: #61000A;
}
.li3 {
    background-color: #504701;
}
.li3:hover {
    background-color: #5E5500;
}
.li4 {
    background-color: #028856;
}
.li4:hover {
    background-color: #047B4F;
}
.left {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
}
.menu {
    width: 85%;
    height: 100%;
}
.menu ul {
    list-style-type: none;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    font-family: sans-serif;
    font-size: 20px;
    padding: 25.5px 20.5px;
    display: flex;
    text-decoration: none;
    color: #D3CFC9;
}
.menu ul li a i {
    padding-left: 5px;
}
.menu ul li a:hover {
    background-color: #028856;
}
.page1 {
    height: 530px;
    background-color: #0A131B;
    text-align: center;
}
.page1 h1 {
    padding-top: 100px;
    display: inline-block;
    font-size: 70px;
    color: #E8E6E3;
    font-weight: bold;
}
.page1 h3 {
    color: #FFA0AA;
    font-size: 23px;
    margin-top: 25px;
}
.search-bar{
    margin: auto;
    display: flex;
    margin-top: 40px;
    border: 1px solid #7D7466;
    height: 45px;
    width: 500px;
    border-radius: 30px;
}
.page1 form input {
    font-size: 15px;
    font-weight: bold;
    border-radius: 30px 0 0 30px;
    outline: none;
    width: 80%;
    border: none;
    background-color: #181B1A;
    line-height: 2;
    color:#E8E6E3 ;
    padding: 20px;
}
.page1 form button {
    font-size: 20px;
    color:#E8E6E3 ;
    width: 20%;
    border: none;
    background-color: #038956;
    border-radius: 0 30px 30px 0;
    cursor: pointer;
    outline: none;
    border-left: 3px solid #04aa6d;
}
.page1 a {
    font-weight: bold;
    font-size: 20px;
    display: block;
    color:#E8E6E3 ;
    margin-top: 30px;
}
.html {
    height: 585px;
    background-color: #1B3B2B;
    position: relative;
}
.html .right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.html .right .example {
    position: absolute;
    right: 30%;
    bottom: 15%;
    height: 430px;
    width: 620px;
    background-color: #2C373E;
    border-radius: 10px;
    font-weight: 500;
}
.h2 {
    height: 15%;

}
.html .right .example h3 {
    position: absolute;
    top: 5%;
    left: 20px;
    font-size: 23px;
    color: #D3CFC9;
}
.html .right .example .course {
    bottom: 0;
    height: 65%;
    margin: 0 15px;
    background-color: #101A23;
    border-left: 4px solid #7D7566 ;
    padding: 20px;
}
.source-code {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}
.a {
    position: absolute;
    bottom: 23px;
    left: 15px;
    background-color: #038857;
    border-radius: 20px;
}
.a a {
    display: flex;
    font-size: 18px;
    padding: 10px 47px;
    text-decoration: none;
    color: #E8E6E3;
}
.a:hover {
    background-color: #047A4E;
}
.html .left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.html .left .child {
    position: absolute;
    left: 35%;
    bottom: 15%;
    width: 55%;
    right: 0;
    text-align: center;
}
.html .left h1 {
    color: #E8E6E3;
    font-size: 100px;
    padding-top: 105px;
    font-weight: 500;
}
.html .left p {
    color: #E8E6E3;
    font-size: 19px;
    padding-top: 20px;
    font-weight: 500;
}
.html .left .child ul {
    list-style-type: none;
}
.html .left .child li {
    display: flex;
    margin: 20px 0;
}
.html .left .child a {
    width: 200px;
    border-radius: 60px;
    margin: auto;
    text-decoration: none;
    color: #E8E6E3;
    padding: 11px 0;
    font-size: 18px;
}
.html .left .child .a1 {
    background-color: #028856;
} 
.html .left .child .a1:hover {
    background-color: #057A4F;
}
.html .left .child .a2 {
    background-color: #514700;
} 
.html .left .child .a2:hover {
    background-color: #5E5500;
}
.html .left .child .a3 {
    background-color: #21222B;
} 
.html .left .child .a3:hover {
    background-color: #000101;
}
.html .left .child .a4 {
    background-color: #59000A;
} 
.html .left .child .a4:hover {
    background-color: #60000B;
}
.css {
    height: 585px;
    background-color: #514700;
}
.css .right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.css .right .example {
    position: absolute;
    right: 30%;
    bottom: 48%;
    height: 430px;
    width: 620px;
    background-color: #2C373E;
    border-radius: 10px;
    font-weight: 500;
}
.css .h2 {
    height: 15%;

}
.css .right .example h3 {
    position: absolute;
    top: 5%;
    left: 20px;
    font-size: 23px;
    color: #D3CFC9;
}
.css .right .example .course {
    bottom: 0;
    height: 65%;
    margin: 0 15px;
    background-color: #101A23;
    border-left: 4px solid #7D7566 ;
    padding: 20px;
}
.css .source-code {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}
.css .a {
    position: absolute;
    bottom: 23px;
    left: 15px;
    background-color: #038857;
    border-radius: 20px;
}
.css .a a {
    display: flex;
    font-size: 18px;
    padding: 10px 47px;
    text-decoration: none;
    color: #E8E6E3;
}
.a:hover {
    background-color: #047A4E;
}
.css .left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.css .left .child {
    position: absolute;
    left: 35%;
    bottom: 52%;
    width: 55%;
    right: 0;
    text-align: center;
}
.css .left h1 {
    color: #E8E6E3;
    font-size: 100px;
    font-weight: 500;
}
.css .left p {
    color: #E8E6E3;
    font-size: 19px;
    padding-top: 20px;
    font-weight: 500;
}
.css .left .child ul {
    list-style-type: none;
}
.css .left .child li {
    display: flex;
    margin: 20px 0;
}
.css .left .child a {
    width: 200px;
    border-radius: 60px;
    margin: auto;
    text-decoration: none;
    color: #E8E6E3;
    padding: 11px 0;
    font-size: 18px;
}
.css .left .child .a1 {
    background-color: #028856;
} 
.css .left .child .a1:hover {
    background-color: #057A4F;
}
.css .left .child .a2 {
    background-color: #21222B;
} 
.css .left .child .a2:hover {
    background-color: #000101;
}
.css .left .child .a3 {
    background-color: #59000A;
} 
.css .left .child .a3:hover {
    background-color: #60000B;
}
.javascript {
    height: 525px;
    background-color: #0B131A;
}
.javascript .right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.javascript .right .example {
    position: absolute;
    right: 30%;
    bottom: 54%;
    height: 372px;
    width: 620px;
    background-color: #2C373E;
    border-radius: 10px;
    font-weight: 500;
}
.javascript .h2 {
    height: 15%;

}
.javascript .right .example h3 {
    position: absolute;
    top: 5%;
    left: 20px;
    font-size: 23px;
    color: #D3CFC9;
}
.javascript .right .example .course {
    bottom: 0;
    height: 65%;
    margin: 0 15px;
    background-color: #101A23;
    border-left: 4px solid #7D7566 ;
    padding: 20px;
}
.javascript .source-code {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}
.javascript .a {
    position: absolute;
    bottom: 13px;
    left: 15px;
    background-color: #038857;
    border-radius: 20px;
}
.javascript .a a {
    display: flex;
    font-size: 18px;
    padding: 10px 47px;
    text-decoration: none;
    color: #E8E6E3;
}
.a:hover {
    background-color: #047A4E;
}
.javascript .left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.javascript .left .child {
    position: absolute;
    left: 35%;
    bottom: 56%;
    width: 55%;
    right: 0;
    text-align: center;
}
.javascript .left h1 {
    color: #E8E6E3;
    font-size: 70px;
    font-weight: 500;
}
.javascript .left p {
    color: #E8E6E3;
    font-size: 19px;
    padding-top: 20px;
    font-weight: 500;
}
.javascript .left .child ul {
    list-style-type: none;
}
.javascript .left .child li {
    display: flex;
    margin: 20px 0;
}
.javascript .left .child a {
    width: 200px;
    border-radius: 60px;
    margin: auto;
    text-decoration: none;
    color: #E8E6E3;
    padding: 11px 0;
    font-size: 18px;
}
.javascript .left .child .a1 {
    background-color: #028856;
} 
.javascript .left .child .a1:hover {
    background-color: #057A4F;
}
.javascript .left .child .a2 {
    background-color: #21222B;
} 
.javascript .left .child .a2:hover {
    background-color: #000101;
}
.javascript .left .child .a3 {
    background-color: #59000A;
} 
.javascript .left .child .a3:hover {
    background-color: #60000B;
}
.python {
    height: 525px;
    background-color: #2C1E1B;
}
.python .right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.python .right .example {
    position: absolute;
    right: 30%;
    bottom: 54%;
    height: 372px;
    width: 620px;
    background-color: #2C373E;
    border-radius: 10px;
    font-weight: 500;
}
.python .h2 {
    height: 15%;

}
.python .right .example h3 {
    position: absolute;
    top: 5%;
    left: 20px;
    font-size: 23px;
    color: #D3CFC9;
}
.python .right .example .course {
    bottom: 0;
    height: 65%;
    margin: 0 15px;
    background-color: #101A23;
    border-left: 4px solid #7D7566 ;
    padding: 20px;
}
.python .source-code {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}
.python .a {
    position: absolute;
    bottom: 13px;
    left: 15px;
    background-color: #038857;
    border-radius: 20px;
}
.python .a a {
    display: flex;
    font-size: 18px;
    padding: 10px 47px;
    text-decoration: none;
    color: #E8E6E3;
}
.a:hover {
    background-color: #047A4E;
}
.python .left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.python .left .child {
    position: absolute;
    left: 35%;
    bottom: 56%;
    width: 55%;
    right: 0;
    text-align: center;
}
.python .left h1 {
    color: #E8E6E3;
    font-size: 70px;
    font-weight: 500;
}
.python .left p {
    color: #E8E6E3;
    font-size: 19px;
    padding-top: 20px;
    font-weight: 500;
}
.python .left .child ul {
    list-style-type: none;
}
.python .left .child li {
    display: flex;
    margin: 20px 0;
}
.python .left .child a {
    width: 200px;
    border-radius: 60px;
    margin: auto;
    text-decoration: none;
    color: #E8E6E3;
    padding: 11px 0;
    font-size: 18px;
}
.python .left .child .a1 {
    background-color: #028856;
} 
.python .left .child .a1:hover {
    background-color: #057A4F;
}
.python .left .child .a2 {
    background-color: #21222B;
} 
.python .left .child .a2:hover {
    background-color: #000101;
}
.python .left .child .a3 {
    background-color: #59000A;
} 
.python .left .child .a3:hover {
    background-color: #60000B;
}
.sql {
    height: 505px;
    background-color: #286263;
}
.sql .right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
}
.sql .right .example {
    position: absolute;
    right: 30%;
    bottom: 54%;
    height: 372px;
    width: 620px;
    background-color: #2C373E;
    border-radius: 10px;
    font-weight: 500;
}
.sql .h2 {
    height: 15%;

}
.sql .right .example h3 {
    position: absolute;
    top: 5%;
    left: 20px;
    font-size: 23px;
    color: #D3CFC9;
}
.sql .right .example .course {
    bottom: 0;
    height: 65%;
    margin: 0 15px;
    background-color: #101A23;
    border-left: 4px solid #7D7566 ;
    padding: 20px;
}
.sql .source-code {
    font-family: 'Inconsolata', monospace;
    font-size: 16px;
}
.sql .a {
    position: absolute;
    bottom: 13px;
    left: 15px;
    background-color: #038857;
    border-radius: 20px;
}
.sql .a a {
    display: flex;
    font-size: 18px;
    padding: 10px 47px;
    text-decoration: none;
    color: #E8E6E3;
}
.a:hover {
    background-color: #047A4E;
}
.sql .left {
    position: absolute;
    left: 0;
    width: 50%;
    height: 100%;
}
.sql .left .child {
    position: absolute;
    left: 35%;
    bottom: 56%;
    width: 55%;
    right: 0;
    text-align: center;
}
.sql .left h1 {
    color: #E8E6E3;
    font-size: 70px;
    font-weight: 500;
}
.sql .left p {
    color: #E8E6E3;
    font-size: 19px;
    padding-top: 20px;
    font-weight: 500;
}
.sql .left .child ul {
    list-style-type: none;
}
.sql .left .child li {
    display: flex;
    margin: 20px 0;
}
.sql .left .child a {
    width: 200px;
    border-radius: 60px;
    margin: auto;
    text-decoration: none;
    color: #E8E6E3;
    padding: 11px 0;
    font-size: 18px;
}
.sql .left .child .a1 {
    background-color: #028856;
} 
.sql .left .child .a1:hover {
    background-color: #057A4F;
}
.sql .left .child .a2 {
    background-color: #21222B;
} 
.sql .left .child .a2:hover {
    background-color: #000101;
}
.sql .left .child .a3 {
    background-color: #59000A;
} 
.sql .left .child .a3:hover {
    background-color: #60000B;
}
::-webkit-scrollbar {
    width: 14px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
::-webkit-scrollbar-thumb {
    background: #888; 
  }
::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }